![header](../../img/logo.svg)

**LSTM Model Class Test**

In [1]:
import os

# Technials Analysis Library
os.chdir("../technicals")
import technicals

# Market Data Connection
os.chdir("../marketdata")
import alpaca

# Machine Learning Model
os.chdir("../ml")
import lstm_model

---

## Get data

### *Get market data*

In [5]:
# Set market data date range 
from datetime import date, datetime, timedelta

end_date  = datetime.now()
start_date  = (end_date - timedelta(days=1000)).strftime('%Y-%m-%d')
end_date = end_date.strftime('%Y-%m-%d')

print(f"Start date : {start_date}")
print(f"End date : {end_date}")

Start date : 2018-10-18
End date : 2021-07-14

In [6]:
# instantiate test ticker : Coca-Cola
test_tickers = ["KO"]

In [7]:
# get market data using Alpaca API
ohlcv_df = alpaca.ohlcv(test_tickers, start_date=start_date, end_date=end_date)

### *Get technical indicator data*

In [8]:
# instantiate technical indicator class
tech_ind = technicals.TechnicalAnalysis(ohlcv_df)

In [9]:
# loop through all tickers to implement the rest:

In [10]:
# get all technical indicators
df = tech_ind.get_all_technicals(test_tickers[0])

# preview data
df.head()

,open,high,low,close,volume,rsi,williams,mfi,stoch_k,macd,...,ma_50,ma_200,ema_7,ema_14,ema_21,highlow,closeopen,bb_high,bb_low,pvt
time,,,,,,,,,,,,,,,,,,,,,
2018-10-18 00:00:00-04:00,45.90,46.080,45.455,45.64,9403895,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,45.640000,45.640000,45.640000,0.625,-0.26,0.0,0.0,0.000000
2018-10-19 00:00:00-04:00,45.82,46.490,45.820,46.32,11087680,100.000000,0.0,0.0,0.0,0.015256,...,0.0,0.0,46.028571,46.004286,45.996190,0.670,0.50,0.0,0.0,0.000000
2018-10-22 00:00:00-04:00,46.37,46.455,45.810,45.96,8837220,96.356275,0.0,0.0,0.0,0.008276,...,0.0,0.0,45.998919,45.987368,45.982961,0.645,-0.41,0.0,0.0,-233880.743235
2018-10-23 00:00:00-04:00,45.62,46.455,45.450,46.36,14166742,96.507761,0.0,0.0,0.0,0.019340,...,0.0,0.0,46.130971,46.101367,46.091092,1.005,0.74,0.0,0.0,191979.332017
2018-10-24 00:00:00-04:00,46.32,47.390,46.240,46.75,18365571,96.653117,0.0,0.0,0.0,0.040464,...,0.0,0.0,46.333880,46.270594,46.249109,1.150,0.43,0.0,0.0,31202.704486

---

## Build and train LSTM Model

In [11]:
# instantiate MachineLearningModel class
model = lstm_model.MachineLearningModel(df)

In [12]:
# build and train model
hist = model.build_model(summary=0, verbose=0)

C:\Users\illya\anaconda3\envs\cu_proj_2\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
# not production
# visualize validation loss, validation, validation accuracy, accuracy
# model.visualize_training_results(hist=hist)

In [14]:
# not production
# validate model - get predicted stock proces
# model.validate()

In [15]:
# not production
# visualize predicted stock price and actual stock price
# model.visualize_training_price()

In [16]:
# not production
# get and print Root Mean Square Error
# print(f"RMS Error : {model.rmse_value}")

In [17]:
# save model
model.save_model('proj2_test_model_1')

---

## Forecast stock price

### *Get market data*

In [18]:
# Set market data date range 
from datetime import date, datetime, timedelta

forecast_end_date  = datetime.now()
forecast_start_date  = (forecast_end_date - timedelta(days=200))

forecast_start_date = forecast_start_date.strftime('%Y-%m-%d')
forecast_end_date = forecast_end_date.strftime('%Y-%m-%d')

print(f"Forecast start date : {forecast_start_date}")
print(f"Forecast end date : {forecast_end_date}")

Forecast start date : 2020-12-26
Forecast end date : 2021-07-14

In [19]:
# Load the dataset
forecast_ohlcv_df = alpaca.ohlcv(test_tickers, 
                                 start_date=forecast_start_date, 
                                 end_date=forecast_end_date)

### *Calculate technical analysis data*

In [20]:
forecast_tech_ind = technicals.TechnicalAnalysis(forecast_ohlcv_df)

In [21]:
forecast_df = forecast_tech_ind.get_all_technicals(test_tickers[0])
# forecast_df.head()

### *Predict stock price based on previously trained model*

In [22]:
# instantiate ForecastPrice class
forecast_model = lstm_model.ForecastPrice(forecast_df)

In [23]:
# load model
forecast_model.load_model('proj2_test_model_1.h5')

In [24]:
# not production
# get model summary
# forecast_model.get_model_summary()

In [25]:
preds = forecast_model.forecast()

C:\Users\illya\anaconda3\envs\cu_proj_2\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [26]:
# not production
preds

                               close
2021-07-15 00:00:00-04:00  55.445587
2021-07-16 00:00:00-04:00  55.266617
2021-07-17 00:00:00-04:00  55.444233
2021-07-18 00:00:00-04:00  55.456417
2021-07-19 00:00:00-04:00  55.568016
2021-07-20 00:00:00-04:00  55.308762
2021-07-21 00:00:00-04:00  55.320122
2021-07-22 00:00:00-04:00  55.618790
2021-07-23 00:00:00-04:00  55.724762
2021-07-24 00:00:00-04:00  55.144760
2021-07-25 00:00:00-04:00  55.242393
2021-07-26 00:00:00-04:00  55.254589
2021-07-27 00:00:00-04:00  55.219852
2021-07-28 00:00:00-04:00  55.188885